<div class="tripVoteContainer">
    <input type="submit" value="いいね!" id="goodButton">
  <form action="/api/generate" method="get">
    <input type="submit" value="イマイチ!" id="badButton">
  </form>
</div>

<style>
    .tripVoteContainer {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
</style>

<script>
     window.onload = () =>{
        const goodButton = document.getElementById("goodButton");
        const badButton = document.getElementById("badButton");
      
        const topsText = document.getElementById("topsText").innerText;
        const bottomsText = document.getElementById("bottomsText").innerText;
        
        const handleGoodButton = () => {
           //謎旅をgoodに投票するAPIを叩く
           const pushMessage = `[${topsText}]で[${bottomsText}]`
           window.open(`https://scrapbox.io/dresscode/GoodDresscode?body=${pushMessage}`)
           
           const match = "${topsText}$(bottomsText)"
           //配列にコーデを格納する
           var arr = new Array();
           arr.push(pushMessage);
        
           //reduce関数を用いて重複しているコーデを集計する
           const group = arr.reduce((result,current) =>{
               const element = result.find((p) => p.pushMessage === current.pushMessage);
               if(element){
                  element.count ++;
               }else{
                  result.push({
                    dresscode: current.pushMessage,
                    count: 1
                  });
               }
               return result;
           }, []);
        
           console.log(group);
        };
        
        const handleBadButton = () => {
           const pushMessage = `[${topsText}]で[${bottomsText}]`
           window.open(`https://scrapbox.io/dresscode/BadDresscode?body=${pushMessage}`)
        };
        
        if(goodButton && badButton){
          goodButton.addEventListener('click', handleGoodButton);
          badButton.addEventListener('click', handleBadButton);
        } else{
          console.error("something went wrong!");
        }
        
       
     };
</script>
