<div class="tripVoteContainer">
    <input type="submit" value="いいね!" id="goodButton">
  <form action="/api/generate" method="get">
    <input type="submit" value="イマイチ!" id="badButton">
  </form>
</div>

<style>
    .tripVoteContainer {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
</style>

<script>
     window.onload = () =>{
        const goodButton = document.getElementById("goodButton");
        const badButton = document.getElementById("badButton");
      
        const topsText = document.getElementById("topsText").innerText;
        const bottomsText = document.getElementById("bottomsText").innerText;
        
        const handleGoodButton = () => {
           //謎旅をgoodに投票するAPIを叩く
           const pushMessage = `[${topsText}]で[${bottomsText}]`
           window.open(`https://scrapbox.io/dresscode/GoodDresscode?body=${pushMessage}`)
        };
        
        const handleBadButton = () => {
           const pushMessage = `[${topsText}]で[${bottomsText}]`
           window.open(`https://scrapbox.io/dresscode/BadDresscode?body=${pushMessage}`)
        };
        
        if(goodButton && badButton){
          goodButton.addEventListener('click', handleGoodButton);
          badButton.addEventListener('click', handleBadButton);
        } else{
          console.error("something went wrong!");
        }
        
     };
</script>
