<div class="tripVoteContainer">
    <input type="submit" value="いいね!" id="goodButton">
  <form action="/api/generate" method="get">
    <input type="submit" value="イマイチ!" id="badButton">
  </form>
</div>

<style>
    .tripVoteContainer {
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
</style>

<script>
  const topsName = document.getElementById("topsName").innerText;
  const bottomsName = document.getElementById("bottomsName").innerText;
  document.getElementById("goodButton").onclick = function(){
  //謎旅をgoodに投票するAPIを叩く
  const pushMessage = (topsName +'と'+ bottomsName);
  window.open('https://scrapbox.io/dresscode/GoodDresscode?body=${pushMessage}');
  }
  
  document.getElementById("badButton").onclick = function(){
  const pushMessage = '[${topsText}]と[${bottomsText}]';
  window.open('https://scrapbox.io/dresscode/bad_dresscode?body=${pushMessage}');
  }
</script>
