<!--謎旅を生成するボタンのコンポーネント。includeすればどこでも再利用できる-->
<style>
    .generatorContainer {
        margin-top: 50px;
    }

    #generator {
        font-size: 1em;
        text-align: center;
        position:absolute;
        left:50%;
        transform:translate(-50%,-50%);
    }
</style>

<div class="generatorContainer">
    <form action="/api/generate" method="get">
        <input type="submit" value="ドレスコード判定" id="generator">
        <!-- ボタンを押すとサーバー側(app.js)のルート/api/generateをGET通信で叩く -->
    </form>
</div>
