<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
    <style>
      #top{
      position: relative;
      display:flex;
      align-items:center;
      justify-content: space-between;
      margin:0 auto;
      height:50px;
      width: 100%;
      }
      
      body > div > img{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      }
      
      .h3{
      text-align:center;
      }
      
      #main_container > p{
      text-align:center;
      }
    </style>
</head>

<body>
<div id="top">
<img src="/image/logo.png" />
</div>
<div id="main_container">
    <h3>ドレスコードの判定をしよう</h3>
    <p>
    就活中や社会人になった後に求められるドレスコードに不安を抱く人は少なからずいます。<br>
    そのような方達のために、表示されるドレスコードが適切かどうかを判定してください<br>
    これは、判定者の主観で構いません。
    </p>
    <%- include('components/tripGenerateButton') %>
</div>
</body>
</html>
