<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
    <style>
      header{
      height:50px;
      }
      
      body > header > img{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      }
    </style>
</head>

<body>
<header>
<img src="/image/logo.png" />
</header>
<div id="main_container">
    <h3>ドレスコードとは?</h3>

    <%- include('components/tripGenerateButton') %>
</div>
</body>
</html>
