<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
    <style>
      #main_container > h3{
      color: #212121;
      margin-top: 50px;
      text-align:center;
      }
      
      #main_container > p{
      font-size: 15px;
      line-height: 25px;
      margin:20px 250px 0 250px;
      }
      
    </style>
</head>

<body>
<%- include('components/hamburgerMenu.ejs') %>
<div id="main_container">
    <h3>ドレスコードの判定をしよう</h3>
    <p id="changeText">
    ドレスコードといってもフォーマル、セミフォーマルなど様々な種類があります<br>
    その中でも、オフィスカジュアルやビジネスアタイアは就活生や社会人に多く求められるドレスコードではないでしょうか？
    いざ、そのようなドレスコードを求められた際、困惑する人は多いと思います<br>
    そこで、以下のボタンから、ドレスコードの判定をしてください！<br>
    いいね！の投票数が多いほど、良いコーディネートとして保存されます<br>
    </p>
    <%- include('components/tripGenerateButton') %>
</div>

</body>
</html>
