<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
    <style>
      #header1{
        color:red;
      }
    </style>
</head>

<body>
<div id="main_container">
    <header>ドレスコード</header>
    <h3>ドレスコードとは?</h3>
    <p>"場所"と"アクティビティ"とをランダムに組み合わせることによって</p>
    <p>セレンディピティに富んだ旅行プランを提案するアプリです。</p>

    <%- include('components/tripGenerateButton') %>
</div>
</body>
</html>
