<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
    <style>
      #top{
      position: relative;
      display:flex;
      align-items:center;
      justify-content: space-between;
      margin:0 auto;
      height:50px;
      width: 100%;
      }
      
      body > div > img{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      }
    </style>
</head>

<body>
<div id="top">
<img src="/image/logo.png" />
</div>
<div id="main_container">
    <h3>ドレスコードとは?</h3>

    <%- include('components/tripGenerateButton') %>
</div>
</body>
</html>
