<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
</head>

<body>
 <div id="main">
   <h3>服を保存しよう</h3>
   <p>ここでは自分の服を保存することができます<br>保存することで、コーディネート判定をさせることができます</p>
 </div>
 
 <style>
 #main{
 margin-top:50px;
 }
 #main > h3{
 color:#212121;
 text-align:center;
 }
 #main > p{
 font-size:15px;
 line-height:25px;
 margin: 20px 250px 0 250px;
 }
 </style>
</body>
</html>
