<html>
<head>
    <meta charset="UTF-8">
    <title> <%= title %> </title>
</head>

<body>
 <%- include('components/hamburgerMenu.ejs') %>
 <div id="main">
   <h3>服を保存しよう</h3>
   <p>自分の服を保存してみてください！<br>保存することで、コーディネート判定をさせることができます</p>
   
   <div id="img-area">
   <input type="file" id="imgButton" multiple="true" />
   <div class="frame">
      <div id="imgFrame"></div>
   </div>
   </div>
   
   <input type="button" id="saveButton" value="保存">
 </div>
 
 <script>
 const imgButton = document.getElementById("imgButton");
 const imgFrame = document.getElementById("imgFrame");
 const fileReader = new FileReader();
 const saveButton = document.getElementById("saveButton");
 //img要素を新しく生成
 const imgElement = document.createElement("img");
 
 saveButton.addEventListener("click",saveHandler);
 imgButton.addEventListener("change", changeHandler);
 
 function changeHandler(event){
 const fileList = event.target.files;
 
 Array.from(fileList).forEach((item,index) =>{
 //一意なidをつけておく
 imgElement.id = item.name;
 //styleをつけたいのでclassを付ける
 imgElement.classList.add("images");
 //ファイルを読み込む
 fileReader.readAsDataURL(item);
 //読み込みが完了した場合
 fileReader.onload = event =>{
 //読み込んだ画像を先ほど生成したimg要素のsrcに指定
 imgElement.src = event.target.result;
 //生成したimg要素を追加
 imgFrame.appendChild(imgElement);
 };
 });
 }
 
 function saveHandler(){
 const pushImage = '${imgElement}'
 window.open(`https://scrapbox.io/dresscode/BadDresscode?body=${pushImage}`)
 }
 
 </script>
 
 <style>
 .images{
 max-width:276px;
 max-height:368px;
 }
 
 #imgFrame{
 position:absolute;
 left:50%;
 transform:translate(-50%,0);
 }
 
 #imgButton{
 font-size:15px;
 position:absolute;
 left:50%;
 transform:translate(-50%,-50%);
 }
 
 #img-area{
 margin-top:50px;
 }
 
 .frame{
 width:276px;
 height:368px;
 position:relative;
 border:1px #aaa dashed;
 background:#fff;
 left:50%;
 transform:translate(-50%,10%);
 }
 
 #main{
 margin-top:50px;
 }
 
 #main > h3{
 color:#212121;
 text-align:center;
 }
 #main > p{
 text-align:center;
 font-size:15px;
 line-height:25px;
 margin: 20px 250px 0 250px;
 }
 </style>
</body>
</html>
