<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>

<form>
<select>
<script>

//tops[i].titleの形にしたい
var i;

for(i=0; i<100; i+=1){
document.write('<option value="'+ <%- tops %>[i].title +'"> '+ tops[i].title +' </option>');
}

</script>
</select>
</form>

</body>
</html>
