<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>
<select name="cloths">
<option value="tops"><%= topsName %></option>
<option value="bottoms">ボトムス</option>
</select>

<script>
/*スクボの全データを取得してくる*/
const scrapboxData = await getScrapBox(projectURL);
/*"#tops"タグのついた記事を抽出して配列に格納*/
const tops = scrapboxData.pages.filter(page => page.descriptions.includes("#tops"));
/*"#activity"タグのついた記事を抽出して配列に格納*/
const bottoms = scrapboxData.pages.filter(page => page.descriptions.includes("#bottoms"));

res.render('suggest', {
  title: "dresscode",
  topsName: randomPair[0].title,
  topsImage: randomPair[0].image,
  bottomsName: randomPair[1].title,
  bottomsImage: randomPair[1].image
});
</script>

</body>
</html>
