<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>

<form>
<select>
 </scropt>
</select>
</form>

<!--
 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 <script>
 $.ajax{
 url:'javaScript/app.js',
 dataType: 'javaScript',
 data:{topsName_0: tops[0].title},
 }
-->
 
</body>
</html>
