<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>
<form action="/api/generate" method="get">
<input type="submit" value="ドレスコード判定" id="generator">
<select name="cloths">
  <option value="tops"><%- topsName %></option>
  <option value="bottoms">ボトムス</option>
</select>
</form>

<script>
</script>

</body>
</html>
