<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>
<%- include('components/tripGenerateButton') %>

<select name="cloths">
  <option value="tops"><%- topsName %></option>
  <option value="bottoms">ボトムス</option>
</select>
</form>

<script>
</script>

</body>
</html>
