<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>
<select name="cloths">
<option value="tops">トップス</option>
<option value="bottoms">ボトムス</option>
</select>

<script>
</script>

</body>
</html>
