<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>
<form action="/api/generate" method="get">
<select name="cloths">
  <option value="tops">トップス</option>
  <option value="bottoms">ボトムス</option>
</select>
</form>

<script>
</script>

</body>
</html>
