<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>
<%- include('components/tripGenerateButton') %>

<select name="cloths">
  <option value="<%- topsName %>" id="topsTitle"><%- topsName %></option>
  <option value="bottoms">ボトムス</option>
</select>
</form>

<script>
const getScrapBox = require("./utils/getScrapBox");
const getRandomPair = require("./utils/getRandomPair");

/*スクボの全データを取得してくる*/
const scrapboxData = await getScrapBox(projectURL);
/*"#tops"タグのついた記事を抽出して配列に格納*/
const tops = scrapboxData.pages.filter(page => page.descriptions.includes("#tops"));
/*"#activity"タグのついた記事を抽出して配列に格納*/
const bottoms = scrapboxData.pages.filter(page => page.descriptions.includes("#bottoms"));

const topsName = document.getElementById("topsTitle");
topsName.innerHTML = tops[0].title;
</script>

</body>
</html>
