<html>
<head>
<meta charset="UTF-8">
<title> <%= title %> </title>
</head>

<body>

<form>
<select>
<script>
const getScrapBox = require("./utils/getScrapBox");
const getRandomPair = require("./utils/getRandomPair");
const projectURL = process.env.PROJECT_URL || "dresscode";

/*スクボの全データを取得してくる*/
const scrapboxData = getScrapBox(projectURL);
/*"#tops"タグのついた記事を抽出して配列に格納*/
const tops = scrapboxData.pages.filter(page => page.descriptions.includes("#tops"));

//tops[i].titleの形にしたい
var i;

for(i=0; i<100; i+=1){
document.write('<option value="'tops[i].title'"> 'tops[i].title' </option>');
}

</script>
</select>
</form>

</body>
</html>
